* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Give You Glory', cursive;
}

body {
  background-image: url('../img/fortune.jpg');
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: auto;

}

header {
  font-family: 'Give You Glory', cursive;
  text-align: center;
}

h2 {
  font-family: 'Give You Glory', cursive;
  text-align: center;
}

.container-fluid {
  width: 100%;
}

.container-fluid p {
  font-family: 'Give You Glory', cursive;
  max-width: 300px;
  height: 300px;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.steps p {
  font-size: 1.5em;
  padding-bottom: 20px;
}

.fortune p {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

p {
  font-family: 'Give You Glory', cursive;
  text-align: center;

}


.container {
  margin: 0 auto;
}

.row {
  text-align: center;
}

.col {
  max-width: 300px;
  height: 300px;
  width: 100%;
  border: solid 2px black;
  text-align: center;
}

#box1{
  background-color: #4D69B1;
}

#box2{
  background-color: #D5AF34;
}

#box3{
  background-color: #C0C0C0;
}

#box4{
  background-color: #ED1C24;
}

#numbers {
  display: none;
}

.box3 {
  color: white;
}

.hide {
  display: none;
}

.new-color {
  background-color: #FFFFFF;
  transition: background-color 1000ms;
}
